@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

/* Global Variables */
$base-color: hsl(231, 69%, 60%);
$light-color: hsl(229, 8%, 60%);
$dark-color: hsl(229, 31%, 21%);
$primary-color: hsl(0, 94%, 66%);

body {
	font-family: 'Rubik', sans-serif;
}
.section_title {
	font-size: 36px;
	color: $dark-color;
	text-align: center;
	font-weight: 700;

}
.btn {
	font-size: 14px;
}
/*
 Nav styles
*/
.navbar-nav {
	@media only screen and (max-width: 600px) {
		.navbar-collapse {
			position: absolute;
			width: 100%;
			top: 56px; /*height of navbar in mobile*/
		}
		.navbar-nav {
			padding-top: 150px;
		}
		.nav-link {
			text-align: center;
		}
		.navbar-toggler {
			border: none;
			outline: none;
		}
	}
	.nav-item {
		margin-left: 20px;
		.nav-link {
			text-transform: uppercase;
			color: $dark-color;
			font-weight: 400;
			font-size: 14px;
		}
		.nav-link:hover {
			color: $primary-color;
		}
		.btn-cta {
			background-color: $primary-color;
			padding-left: 28px;
			padding-right: 28px;
			color: #fff;
			font-weight: 500;
		}
		.btn-cta:hover {
			border: 2px solid $primary-color;
			background: none;
			color: $primary-color;
		}
	}
}

/*
Hero Area styles
*/

#main {
	padding-top: 100px;
	.main-title {
		font-size: 50px;
		text-transform: capitalize;
		color: $dark-color;
	}
	.main-para {
		color: $light-color;
		font-size: 20px;
		font-weight: 200;
	}
	.btn-wrapper {
		.btn-chrome {
			background-color: $base-color;
			color: #fff;
			transition: all 0.5s ease-in-out 0s;
		}
		.btn-chrome:hover {
			border: 2px solid $base-color;
			background: none;
			color: $base-color;
		}
		.btn-firefox {
			background-color: rgb(250, 253, 253);
			color: $dark-color;
			box-shadow: 0px 7px 11px rgba(0, 0, 0, 0.1);
			transition: all 0.3s ease 0s;
			outline: none;
		}
		.btn-firefox:hover {
			transform: translateY(-7px);
			background-color: $primary-color;
			color: #fff;
			box-shadow: 0px 15px 20px rgba(239, 0, 0, 0.4);
		}
		.btn-chrome,
		.btn-firefox {
			font-weight: 500;
			padding: 12px 26px;
		}
	}
	.main-features-tab {
		background: url(../images/illustration-hero.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-attachment: scroll;
		width: 100%;
		height: 100%;
		position: relative;
	}
	.bg-main-features-tab {
		position: absolute;
		background-color: $base-color;
		width: 433px;
		height: 270px;
		border-bottom-left-radius: 50%;
		top: 120px;
		left: 180px;
		z-index: -1;
	}
}

/*
Features
*/
#features {
	margin-top: 100px;
}
	.features_para {
		width: 47%;
		margin: auto;
		font-size: 18px;
		color: $light-color;
		font-weight: 200;
	}
	.features-tabs {
		width: 60%;
		margin: auto;
		.nav-tabs .nav-item.show .nav-link,
		.nav-tabs .nav-link.active {
			border-color: transparent transparent transparent;
			border-bottom: 3px solid $primary-color !important;
			background-color: transparent;
		}
		.features-tabs-links a {
			color: $dark-color;
			text-transform: capitalize;
			margin-right: 30px;
			text-decoration: none;
		}
		.features-tabs-links a:hover {
			color: $primary-color;
			border: none;
		}
	}
	.tab-content {
		.section_title {
			text-align: left;
		}
		.tab-content-para {
			color: $light-color;
			width: 80%;
			font-size: 18px;
			font-weight: 200;
		}
		.btn-primary {
			text-transform: capitalize;
			background-color: $base-color;
		}
		.btn-primary:hover {
			background-color: hsl(231, 67%, 52%);
		}
		.img-wrapper {
			position: relative;
		}
		.features-tab-svg-1 {
			background: url(../images/illustration-features-tab-1.svg);
		}
		.features-tab-svg-2 {
			background: url(../images/illustration-features-tab-2.svg);
		}
		.features-tab-svg-3 {
			background: url(../images/illustration-features-tab-3.svg);
		}
		.features-tab-svg-1,
		.features-tab-svg-2,
		.features-tab-svg-3 {
			background-repeat: no-repeat;
			background-attachment: scroll;
			background-position: center;
			background-size: contain;
			width: 100%;
			height: 350px;
		}
		.features-tab-svg-bg {
			position: absolute;
			background-color: $base-color;
			border-bottom-right-radius: 50%;
			width: 520px;
			height: 350px;
			top: 90px;
			z-index: -1;
			left: -50px;
		}
		#easysharing {
			.features-tab-svg-bg {
				width: 420px;
				height: 330px;
				top: 70px;
			}
			.features-tab-svg-3 {
				height: 350px;
			}
		}
		#speedysearch {
			.features-tab-svg-bg {
				width: 420px;
				top: 70px;
			}
			.features-tab-svg-2 {
				height: 380px;
			}
		}
	}
}

// Extension section
#download-extensions {
	padding-top: 100px;
	.extension-para {
		color: $light-color;
		width: 50%;
		margin: auto;
		font-size: 18px;
		font-weight: 200;
	}
	.row {
		width: 68%;
		margin: auto;
	}
	.card {
		border: none;
	}
	.card img {
		width: 100px;
		margin: auto;
		padding-top: 30px;
	}
	.card-body h5 {
		font-size: 18px;
		color: $dark-color;
		font-weight: 600;
	}
	.card-body p {
		font-size: 14px;
		font-weight: 100;
		color: $light-color;
	}
	.btn-primary {
		background-color: $base-color;
		color: #fff;
		transition: all 0.5s ease-in-out 0s;
	}
	.card-body {
		position: relative;
	}
	.card-body img {
		box-sizing: content-box;
		width: 223px;
		margin-left: -20px;
		text-align: center;
	}

	.btn-primary:hover {
		border: 2px solid $base-color;
		background: none;
		color: $base-color;
	}
	.col-md-4:nth-child(2) {
		margin-top: 25px;
	}
	.col-md-4:nth-child(3) {
		margin-top: 50px;
	}
}
